@model LojaCet50B.Dados.Entidades.Cliente

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar Cliente</h2>

<h3>Tem a certeza que quer apagar a informação do cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Residencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Residencia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar à Lista de Clientes</a>
    </form>
</div>
